<div ng-controller="DefaultCtrl">
    <div class="site-content">
        <h2 class="text-center jenna-text">About the Queer Continuum Conference</h2>
    </div>
    <div class="site-content">
        <p>Utah’s 1 to 5 Club is proud to present the second annual Queer Continuum conference. This year’s theme is Resistance
            Beyond Existence. We will explore ways to move beyond merely living and into a thriving life, building community,
            and actively queering the world around us.</p>

        <p>The 1 to 5 Club was founded in Salt Lake City in 2005 by Shauna Brock and Andrea Martin, and has been affiliated
            with the Utah Pride Center since 2005. The name of the group is an homage to the Kinsey rating scale of attraction,
            a tool that was revolutionary in its conceptualization of sexual attraction. The scale ranges from 0, signifying
            exclusively heterosexual attraction, to 6, signifying exclusive homosexual attraction. The numbers from 1 to
            5 represent a community often overlooked and silenced in mainstream queer culture – a community including bisexual,
            pansexual, sexually fluid, and many other individuals with or without a label.</p>

        <p>For our second annual conference, we are delighted and honored to have Ella Mendoza as our keynote speaker. Workshop
            presenters include leaders and community members.
        </p>

        <p>Invite your friends, families, and co-workers!
        </p>

        <p>Our suggested donation is $5. And no one will be turned away due to inability to pay.
        </p>
    </div>
</div>