<div ng-controller="MainCtrl">
    <hr>
    <div class="row site-content">
        <div class="small-12 medium-6 large-4 columns">
            <p><strong>When:</strong><br>
                <span class="fa fa-lg" aria-hidden="true">&#xf1ec;</span> Saturday, Sep 23, 2017<br>
                <span class="fa fa-lg" aria-hidden="true">&#xf017;</span> 9:00am - 4:00pm</p>
            <!--<p class="open-close"></p>-->
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <p><strong>Where:</strong><br>
                <a href="//www.google.com/maps/place/210+E+400+S,+Salt+Lake+City,+UT+84111/@40.760034,-111.8864477,17z/data=!3m1!4b1!4m5!3m4!1s0x8752f513816e33cf:0xf6655a3dbf116ac9!8m2!3d40.76003!4d-111.884259"
                    target="_blank" rel="noopener" title="Select to open a map in Google Maps.">
                    <span class="fa fa-lg" aria-hidden="true">&#xf041;</span> SLC Public Library (Downtown)<br> 210 E 400 S<br> Salt Lake City, UT 84111
                </a>
            </p>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <p><strong>Contact:</strong><br>
                <a href="//facebook.com/pages/1-to-5-Club/195455310485661" target="_blank" rel="noopener" title="Select to view our Facebook page in a new window.">
                    <span class="fa fa-lg" aria-hidden="true">&#xf230;</span> Like our 1to5Club Facebook Page!
                </a><br>
                <a href="https://twitter.com/1to5club" target="_blank" rel="noopener" title="Select to open our Twitter page in a new window.">
                    <span class="fa fa-lg" aria-hidden="true">&#xf081;</span> Find us on Twitter @1to5Club
                </a><br>
                <a href="mailto:1to5club@utahpridecenter.org?subject=Hello%20From%20A%20Web%20Site%20Visitor" title="Select to send us an email.">
                    <span class="fa fa-lg" aria-hidden="true">&#xf0e0;</span> </span> 1to5club@utahpridecenter.org
                </a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row site-content">
        <div class="medium-4 columns text-center">
            <a ui-sref="workshops" title="Select to see the complete list of workshops.">
                <img class="home-images" src="img/QC-4Spheres.png" alt="Graphic for Workshops link.">
                <h4>Workshops</h4>
                <p>Workshops and their descriptions.</p>
            </a>
        </div>
        <div class="medium-4 columns text-center">
            <a ui-sref="schedule" title="Select to see the conference schedule.">
                <img class="home-images" src="img/QC-Schedule.png" alt="Graphic for Schedule link.">
                <h4>Conference Schedule</h4>
                <p>Here you will find a full schedule for the day of the conference.</p>
            </a>
        </div>
        <div class="medium-4 columns text-center">
            <a ui-sref="keynote" title="Select to read more about our Keynote Speaker!">
                <img class="home-images" src="img/QC-Keynote-Ella.png" alt="Portrait image of our keynote speaker, Ella Menoza.">
                <h4>Keynote Speaker</h4>
                <p>Ella Mendoza is our Keynote for 2017!</p>
            </a>
        </div>
    </div>
</div>