<div id="ScrollTop" ng-controller="DefaultCtrl">
    <div class="site-content">
        <h2 class="text-center jenna-text">Meet Our Keynote Speaker</h2>
    </div>
    <div class="site-content">
        <p><img class="bio-image" src="img/QC-Keynote-Ella.png"></p>
        <h3>Ella Mendoza</h3>

        <p>We are delighted and honored to have Ella Mendoza as our Keynote Speaker at this year's Queer Continuum conference!</p>

        <p>Ella Mendoza, born Mariella Mendoza Cárdenas, is an undocumented educator, facilitator, visual artist, and writer.
            Originally from Lima, Peru; Ella currently lives in Salt Lake City, Utah.</p>

        <p>Ella specializes on Education, and has worked with youth for over ten years, emphasizing on themes of race, culture,
            and heritage.</p>

        <p>Through her displacement from her homeland, Ella has developed an anti-colonial abolitionist assessment of not just
            the political, but of the social; and her workshops focus on the natural and creative education of the self,
            when provided a space that challenges the artificial, and the plastic. Through her work, she honors the intergenerational
            value that comes from learning, and of adapting to change through ancestral survival.</p>

        <p>A descendant of the Amazonas, and a child of the Mountains, Ella honors her roots by teaching in an anti-structural/anti-conventional
            medium, that questions the separation of art, education, and poetry.</p>

        <p>Her work has been featured nationally, in both academic and hollistic settings, as a freelancer, as well as a representative
            of <a href="//familiatqlm.org/" target="_blank" rel="noopener">Familia: Trans Queer Liberation Movement</a>,
            and <a href="//www.peacefuluprising.org/" target="_blank" rel="noopener">Peaceful Uprising</a>.</p>
    </div>
</div>