<div ng-controller="DefaultCtrl">
    <div class="site-content">
        <h2 class="text-center jenna-text">Location and Map</h2>
    </div>
    <div class="site-content">
        <a href="//goo.gl/maps/4CL7jPNexK62" target="_blank" rel="noopener">
            <h4 class="text-center">Location</h4>
            <p class="text-center">
                <span class="fa fa-lg" aria-hidden="true">&#xf041; </span> SLC Public Library (Downtown)<br> 210 East 400
                South
                <br> Salt Lake City, UT 84111</p>
            <img class="img-responsive" src="img/library.png">
        </a>
    </div>
</div>