<div ng-controller="workshopsCtrl">
    <div class="site-content">
        <h2 class="text-center jenna-text">Conference Schedule</h2>
        <div class="row" data-equalizer>
            <!--Begin Time Block - Registration-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Registration</div>
                    <div class="room">Room</div>
                    <div class="note">09:00 AM - 09:30 AM</div>
                </div>
                <div class="table-row">
                    <div class="title">Registration</div>
                    <div class="room">Library - Lower level</div>
                    <div class="note">Note: Wheelchair access via elevator near Auditorium.</div>
                </div>
            </div>
            <!--End Time Block - Registration-->

            <!--Begin Time Block - Welcome Address & Orientation-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Welcome Address</div>
                    <div class="room">Room</div>
                    <div class="note">09:30 AM - 09:45 AM</div>
                </div>
                <div class="table-row">
                    <div class="title">Welcome Address & Orientation</div>
                    <div class="room">Conference Room A</div>
                    <div class="note"> </div>
                </div>
            </div>
            <!--End Time Block - Welcome Address & Orientation-->

            <!--Begin Time Block - Keynote-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Keynote Address with Ella Mendoza</div>
                    <div class="room">Room</div>
                    <div class="note">9:45 AM - 10:30 PM</div>
                </div>
                <div class="table-row">
                    <div class="title">Keynote Address</div>
                    <div class="room">Conference Room A</div>
                    <div class="note"> </div>
                </div>
            </div>
            <!--End Time Block - Keynote-->

            <!--Begin Time Block - Session 1-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Session 1</div>
                    <div class="room">Room</div>
                    <div class="note">09:45 AM - 10:45 AM</div>
                </div>
                <div class="table-row" ng-repeat="item in workshops" ng-if='item.session == "1"'>
                    <div class="title">{{item.title}}</div>
                    <div class="room">{{item.room}}</div>
                    <div class="summary" ng-if="item.summary != ''"><strong>Summary:</strong> {{item.summary}}</div>
                    <div class="presenter"><strong>Presenter:</strong> {{item.presenter}}</div>
                    <div class="note" ng-if="item.note != ''">{{item.note}}</div>
                </div>
            </div>
            <!--End Time Block - Session 1-->

            <!--Begin Time Block - Lunch-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Lunch</div>
                    <div class="room">Room</div>
                    <div class="note">12:00 PM - 01:00 PM</div>
                </div>
                <div class="table-row">
                    <div class="title">Lunch</div>
                    <div class="room">See note below:</div>
                    <div class="note">Note: Lunch location options will be provided.</div>
                </div>
            </div>
            <!--End Time Block - Lunch-->

            <!--Begin Time Block - Session 2-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Session 2</div>
                    <div class="room">Room</div>
                    <div class="note">01:30 PM - 02:030PM</div>
                </div>
                <div class="table-row" ng-repeat="item in workshops" ng-if='item.session == "2"'>
                    <div class="title">{{item.title}}</div>
                    <div class="room">{{item.room}}</div>
                    <div class="summary" ng-if="item.summary != ''">Summary: {{item.summary}}</div>
                    <div class="presenter">Presenter: {{item.presenter}}</div>
                    <div class="note" ng-if="item.note != ''">{{item.note}}</div>
                </div>
            </div>
            <!--End Time Block - Session 2-->

            <!--Begin Time Block - Break-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Break</div>
                    <div class="room">Room</div>
                    <div class="note">02:00 PM - 02:15 PM</div>
                </div>
                <div class="table-row">
                    <div class="title">Break</div>
                    <div class="room">Library - Lower Level</div>
                    <div class="note"></div>
                </div>
            </div>
            <!--End Time Block - Break-->

            <!--Begin Time Block - Session 3-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Session 3</div>
                    <div class="room">Room</div>
                    <div class="note">02:45 PM - 03:45 PM</div>
                </div>
                <div class="table-row" ng-repeat="item in workshops" ng-if='item.session == "3"'>
                    <div class="title">{{item.title}}</div>
                    <div class="room">{{item.room}}</div>
                    <div class="summary" ng-if="item.summary != ''">Summary: {{item.summary}}</div>
                    <div class="presenter">Presenter: {{item.presenter}}</div>
                    <div class="note" ng-if="item.note != ''">{{item.note}}</div>
                </div>
            </div>
            <!--Begin Time Block - Session 3-->

            <!--Begin Time Block - Farewell-->
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="title">Farewell Message</div>
                    <div class="room">Room</div>
                    <div class="note">04:00 PM - 04:30 PM</div>
                </div>
                <div class="table-row">
                    <div class="title">Farewell Message</div>
                    <div class="room">Library Amphitheater</div>
                    <div class="note">Note: Amphitheater is located just outside the south doors.</div>
                </div>
            </div>
            <!--End Time Block - Farewell-->
        </div>
    </div>
</div>