<div ng-controller="workshopsCtrl">
    <div class="site-content">
        <h2 class="text-center jenna-text">Workshops</h2>
        <div class="row" data-equalizer>
            <div class="small-block-grid=1 large-block-grid=2">
                <div class="table-row-hr">
                    <div class="col title">Workshops</div>
                    <div class="meta-data">
                        <div class="col session">Session</div>
                        <div class="col room">Room</div>
                    </div>
                    <!--<div class="summary">Summary</div>-->
                    <!--<div class="presenter">Presenter</div>-->
                </div>
                <div class="table-row" ng-repeat="item in workshops">
                    <div class="col title">{{item.title}}</div>
                    <div class="meta-data">
                        <div class="col session">{{item.session}}</div>
                        <div class="col room">{{item.room}}</div>
                    </div>
                    <div class="summary" ng-if="item.summary != ''"><strong>Summary:</strong> {{item.summary}}</div>
                    <div class="presenter"><strong>Presenter:</strong> {{item.presenter}}</div>
                    <div class="note" ng-if="item.note != ''">{{item.note}}</div>
                </div>
            </div>
        </div>
    </div>
</div>